<div class='current' id='blog'>
  <div class='toolbar'>
    <h1>Blog Posts</h1>
    <a class="back">Back</a>
  </div>
  <ul class='metal'>
    <% posts.each do |post| %>
      <li class="arrow">
        <a href="/blog_post/<%= post.id %>">
          <div class="metal_header"><%= post.title %></div>
        </a>
      </li>
    <% end %>
  </ul>
  <div class='info'>
    <p>
      Built by Cube2Mobile - A Cube2Media Company
    </p>
  </div>
</div>