<div class='current' id='home'>
  <div class='toolbar'>
    <h1>Cube2 Blog</h1>
  </div>
  <ul class='rounded'>
    <li class='arrow'><a href='/blog'>Blog</a></li>
  </ul>
  <div class='info'>
    <p>
      Built by Cube2Mobile - A Cube2Media Company
    </p>
  </div>
</div>
