<div class='current' id='home'>
  <div class='toolbar'>
    <h1>Create New Post</h1>
    <a class="back">Back</a>
  </div>
  <form action="http://www.cube2media.com/" method="post" id="contact" enctype="multipart/form-data">
    <ul class="rounded">
    <li>
      <input id="contact_first_name" type="text" name="contact_us_first_name" placeholder="First Name"></input>
    </li>
    <li>
      <input id="contact_last_name" type="text" name="contact_us_last_name" placeholder="Last Name"></input>
    </li>
    <li>
      <input id="contact_email" type="text" name="contact_us_email" placeholder="Email"></input>
    </li>
    <li>
      <input id="contact_company" type="text" name="contact_us_company" placeholder="Company"></input>
    </li>
    <li>
      <input id="contact_position" type="text" name="contact_us_position" placeholder="Position"></input>
    </li>
    </ul>
    <a class="submit_button whiteButton">Submit</a>
    <a class="grayButton goback">Cancel</a>
  </form>
  <div class='info'>
    <p>
      Built by Cube2Mobile - A Cube2Media Company
    </p>
  </div>
</div>