<div class='current' id='home'>
  <div class='toolbar'>
    <h1><%= s.acronym %></h1>
    <a class="back">Back</a>
  </div>
  <ul class="rounded">
    <li><%= s.acronym %></li>
    <li><%= s.permalink %></li>
  </ul>
  <video height="360" width="480" id="TestVid" 
         controls="true" tabindex="0"
         poster="http://brightcove.vo.llnwd.net/d8/unsecured/media/24956007001/24956007001_47203318001_vs-47194102001.jpg?pubId=24956007001"
         src="http://brightcove.vo.llnwd.net/d8/unsecured/media/24956007001/24956007001_47203316001_TestVid.mp4"/>
  <div class='info'>
    <p>
      Built by HealthCare Insight
    </p>
  </div>
</div>